
# Object files
*.o

# Automake
Makefile.in
Makefile
.deps
/test-driver

# Autoconf
/autom4te.cache
/aclocal.m4
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1

# Yacc
/ylwrap

# Trash
*~
*.swp
*.log
*.trs
.dirstamp

